<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="list-outline"></ion-icon>
      Lista de tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar
          animated="true"
          placeholder="Buscar tarea"
          (ionInput)="filterTasks($event)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="ion-no-margin">
    <ion-col class="ion-text-right">
      <ion-button (click)="reloadTasks()">
        <ion-icon name="refresh-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="isLoading">
    <ion-item *ngFor="let skeleton of [1, 2, 3, 4]">
      <ion-label>
        <h2>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Lista de tareas cuando no hay carga -->
  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let task of filteredTasks"
      [routerLink]="['/detailstask']"
      [queryParams]="{ task: task | json }"
      (click)="handleItemClick($event)">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p [ngClass]="{'text-success': task.status === 'completada', 'text-warning': task.status === 'pendiente'}">
          {{ task.description }}
        </p>
      </ion-label>

      <ion-button
        shape="round"
        size="small"
        color="secondary"
        (click)="editTask($event, task)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <ion-checkbox
        slot="start"
        [checked]="task.status === 'completada'"
        (click)="preventNavigation($event)"
        (ionChange)="changeTaskStatus($event, task)">
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="addTask()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
