.full-height {
  height: 100%;
}


ion-card-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.input-spacing {
  margin-bottom: 16px;
}
