<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="full-height">
    <ion-row class="ion-justify-content-center ion-align-items-center full-height">
      <ion-col size="12" size-md="8" size-lg="6">
        <!-- Cédula -->
        <ion-item>
          <ion-label position="floating">Cédula</ion-label>
          <ion-input type="number" maxlength="10"
          [(ngModel)]="txt_cedula"
          (focusout)="validaCedula()"
          pattern="[0-9]*"
          maxlength="10"></ion-input>
        </ion-item>

        <!-- Nombre -->
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="txt_nombre"></ion-input>
        </ion-item>

        <!-- Apellido -->
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="txt_apellido"></ion-input>
        </ion-item>

        <!-- Correo -->
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="txt_correo"></ion-input>
        </ion-item>

        <!-- Clave -->
        <ion-item>
          <ion-label position="floating">Clave</ion-label>
          <ion-input type="password" [(ngModel)]="txt_clave" (focusout)="vclave()"></ion-input>
        </ion-item>

        <!-- Confirmar Clave -->
        <ion-item>
          <ion-label position="floating">Confirmar Clave</ion-label>
          <ion-input type="password" [(ngModel)]="txt_cclave" (focusout)="vclave()"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label color="danger" *ngIf="mensajeClave">{{ mensajeClave }}</ion-label>
        </ion-item>

        <!-- Mensaje de error -->
        <ion-item lines="none">
          <ion-label color="danger" *ngIf="mensaje">{{ mensaje }}</ion-label>
        </ion-item>

        <!-- Botones -->
        <ion-row class="ion-margin-top ion-justify-content-between">
          <ion-col size="12" size-md="5">
            <ion-button expand="block" color="success" (click)="registrar()">Registrarse</ion-button>
          </ion-col>
          <ion-col size="12" size-md="5">
            <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
hay mucho espacio entre el objeto que saca el mensaje, y los botones hay mucho espacio aydame con el diseo
